.recipe{
    border-radius: 8px;
    box-shadow: 1px 5px 20px rgb(71, 70, 69);
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    line-height: 1.7;
    min-width: 40%;
    min-height: 50%;
    background-color: cornsilk;
    border-bottom: 1px solid;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.image {
    border-radius: 40%;
    width: 180px;
    height: 180px;
}